/* Default styles */

.classroom-program- {
    position: relative;
    font-weight: 600;
    /* display: inline-block; */
    width: 509px;
    flex-shrink: 0;
  }
  
  .classroom-program-beamed-liv-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .lorem-ipsum-is {
    position: relative;
    font-weight: 335;
    display: inline-block;
    width: 100%;
    flex-shrink: 0;
  }
  
  .lorem-ipsum-is-simply-dummy-te-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-lg);
    width: 100%;
  }
  
  .stay-home-stay {
    position: relative;
    font-weight: 600;
  }
  
  .stay-home-stay-safe-prepare-wrapper {
    display: flex;
    flex-direction: row;
    padding: 19px 0 5px;
    align-items: center;
    justify-content: flex-start;
  }
  
  .clat {
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
  }
  
  .clat-wrapper,
  .mass-comm-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs);
    background-color: var(--color-goldenrod);
    border-radius: var(--br-9xs);
    width: 81px;
    height: 39px;
    display: flex;
   
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  
  .mass-comm-wrapper {
    width: 125px;
    flex-direction: row;
  
  }
  
  .frame-container {
    display: flex;
    /* width: 90vw; */
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 23px;
  }
  
  .upon-complete-registration {
    color: #d3d3d3;
   
  }
  
  .disclaimer-upon-complete-container {
    position: relative;
    font-weight: 500;
    display: inline-block;
    /* width: 595px; */
    width: 100%;
    margin: 1em;
    flex-shrink: 0;
  }
  
  .disclaimer-upon-complete-regi-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: var(--padding-base) 0 0;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-sm);
  }
  
  .frame-group,
  .register-for-free-demo-classes-wrapper {
    display: flex;
    /* width: 100%; */
    padding: var(--padding-3xs);
    align-items: flex-start;
  }
  
  .frame-group {
    flex: 1;
   width: 90vw;  /*update */
   margin: 1em;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-8xs);
  }
  
  .register-for-free-demo-classes-wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .person-icon {
    position: relative;
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  
  .name {
    border: 0;
    width: 100%;
    font-weight: 600;
    font-family: var(--font-poppins);
    font-size: var(--font-size-base);
    background-color: transparent;
    flex: 1;
    position: relative;
    color: var(--color-darkgray-200);
    text-align: left;
  }
  
  .person-parent {
    border-bottom: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 390px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-lg);
  }
  
  .expand-arrow-icon {
    position: relative;
    width: 31px;
    height: 24px;
    object-fit: cover;
  }
  
  .submit {
    position: relative;
    font-size: 20px;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
  }
  
  .frame-parent1,
  .submit-wrapper {
    box-sizing: border-box;
    justify-content: center;
  }
  
  .submit-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs);
    background-color: #ff682e;
    border-radius: 0 0 var(--br-xs) var(--br-xs);
    width: 459px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .submit-wrapper:hover {
    background-color: #ff4c06;
  }
  
  .frame-parent1 {
    border-radius: 11px;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
    width: 461px;
    height: 391px;
    flex-direction: column;
    padding: var(--padding-base) 0 0;
    gap: 20px;
  }
  
  .frame-div,
  .frame-parent,
  .frame-parent1 {
    display: flex;
    align-items: center;
  }
  
  .frame-div {
    flex-direction: column;
    padding: 0 var(--padding-3xs);
    justify-content: center;
    gap: var(--gap-8xs);
    text-align: center;
    font-size: var(--font-size-5xl);
  }
  
  .frame-parent {
    background: linear-gradient(180deg, #3e3356, #632e5c);
    width: 100%;
    max-width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 0 56px;
    box-sizing: border-box;
    justify-content: space-between;
    gap: var(--gap-3xs);
  }
  
  .lorem-ipsum-is1 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    max-width: 435px;
  }
  
  .lorem-ipsum-is-simply-dummy-te-container {
    width: 100%;
    max-width: 647px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  
  .frame-parent2 {
    background-color: #39284a;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 51px 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-mini);
  }
  
  .date {
    align-self: stretch;
  }
  
  .date,
  .day,
  .time {
    position: relative;
    font-weight: 600;
    display: inline-block;
    width: 166px;
    flex-shrink: 0;
  }
  
  .time {
    width: 366px;
  }
  
  .date-parent {
    background-color: var(--color-tomato-100);
    width: 100%;
    max-width: 1127px;
    height: 46px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-15xl);
    font-size: var(--font-size-lg);
    color: var(--color-white);
  }
  
  .mar {
    align-self: stretch;
  }
  
  .hrs-17hrs,
  .mar,
  .saturday {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 166px;
    flex-shrink: 0;
  }
  
  .hrs-17hrs {
    width: 366px;
  }
  
  .mar-parent {
    background-color: var(--color-snow);
    width: 100%;
    max-width: 1127px;
    height: 46px;
    flex-direction: row;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    gap: var(--gap-15xl);
  }
  
  .frame-parent4,
  .mar-group,
  .mar-parent {
    display: flex;
    justify-content: flex-start;
  }
  
  .mar-group {
    background-color: var(--color-white);
    width: 100%;
    max-width: 1127px;
    height: 46px;
    flex-direction: row;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    gap: var(--gap-15xl);
  }
  
  .frame-parent4 {
    height: 293px;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-size-mini);
    color: var(--color-darkgray-100);
  }
  
  .request-for-free {
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
  }
  
  .request-for-free-demo-classes-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) 41px;
    background-color: var(--color-tomato-100);
    border-radius: 5px;
    height: 48px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .frame-parent3,
  .website {
    background-color: var(--color-white);
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .frame-parent3 {
    width: 90vw;
    max-width: 1387px;
    height: 493px;
    flex-shrink: 0;
    padding: 34px 0;
    box-sizing: border-box;
    align-items: center;
    gap: var(--gap-3xs);
    font-size: var(--font-size-5xl);
    color: #161616;
  }
  
  .website {
    position: relative;
    width: 100%;
    align-items: flex-start;
    text-align: left;
    font-size: var(--font-size-9xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  .support-btn{
    height: 60px;
    width: 60px;
    background-color: #ff4c06;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .support-btn>img{
    width: 100%;
    height:100%;
    color: white;
  }
  @media screen  and (max-width:1200px){
    .frame-parent {
        background: linear-gradient(180deg, #3e3356, #632e5c);
        width: 100%;
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 0 56px;
        box-sizing: border-box;
        justify-content: space-between;
        gap: var(--gap-3xs);
      }
      .frame-parent1 {
        border-radius: 11px;
        background-color: var(--color-white);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
        width: 80%;
        height: 100%;
        flex-direction: column;
        padding: var(--padding-base) 0 0;
        gap: 20px;
      }
  }